[Desktop Entry]
Name=FontBase
Exec=fontbase-app
Terminal=false
Type=Application
Icon=fontbase-app
StartupWMClass=FontBase
Comment=A lightning fast, beautiful and free font manager for designers.
Categories=Graphics;
